*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #bb88f1;
}

.fundo{
    width: 660px;
    margin: 0 auto;
    background-color:rgb(116, 34, 224);

}

.flex{
    display: flex;
}

.lilás{
    background-color: #d4aefc;
    padding: 80px;
    margin: 10px;
}

.alongar{
    padding-right: 279px;
}

.esticar{
    padding-bottom: 250px;
}